
.currency {
  text-align: center;

  &_info {
    display: flex;

    div {
      margin-right: 20px;

      h2 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 8px;
      }

      p {
        font-size: 16px;
        margin: 8px 0;
      }
    }
  }
 
 .conversion_section {

    label {
      margin-right: 8px;
    }

    input {
      padding: 6px;
      margin-bottom: 12px;
    }

    select {
       margin-right: 24px;
      padding: 8px;
      margin-bottom: 12px;
    }
  }

   &_result{
    font-size: 18px;
    margin-top: 20px; 
  }
 
}

 

.header {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color:black;
  color: aliceblue;
  padding: 20px;

  margin: -10px -8px 40px;
  
 

  h1 {
    font-size: 24px;
    margin: 0;
    margin-right: 50px;
  }


}